version: "3.9"

services:
  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "5001:5000"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: todo-mongo
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
